.col-sm-10 > input{
    border: none;    
    outline: none;
    border-bottom: 2px solid #4CC3F8;
    border-radius: 0;
    padding-bottom: 2px;
    transition: padding 2s ease-in-out;
    font-size: 34px;
}
.col-sm-10 > input:hover,
.col-sm-10 > input:focus{
    border: none;
    outline: none !important;   
    border-bottom: 2px solid #8EA604;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 4px;
    color: #EF476F;
}
.feedback{
    padding: 10px;
    text-align: center;
    font-size: 24px;
}
.hide{
    display: none;
}